<mat-selection-list (selectionChange)="handleChange($event)">
  <mat-list-option *ngFor="let tester of testers" checkboxPosition="before" [value]="tester">
    <h3>{{tester.firstName}} {{tester.lastName}}</h3>
    <p matLine>Id: {{tester.id}}</p>
    <p matLine>Rank: {{tester.rank}}</p>
  </mat-list-option>
</mat-selection-list>
