<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ng-container *ngIf="searchParamValuesLoaded$ | async; else loading">
      <app-criteria [values]="searchParamValues$ | async" (changed)="handleChanged($event)"></app-criteria>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="testersLoaded$ | async; else loading">
      <div>
        <app-results [testers]="testers$ | async" (selected)="handleSelected($event)"></app-results>

        <div *ngIf="testersLoading$ | async" class="overlay-loading">
          <!--        <div  class="overlay-loading">-->
          <ng-container [ngTemplateOutlet]="loading"></ng-container>
        </div>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
  <mat-spinner mode="indeterminate"></mat-spinner>
</ng-template>
