:host {
  display: contents;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  padding: 0.5rem 0.5rem;
}

mat-sidenav-content {
  position: relative;
}

.overlay-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 158, 158, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}
