<form id="tester-criteria-form" [formGroup]="form">
  <section id="tester-criteria-country">
    <div>Country</div>
    <mat-chip-list [selectable]="true" [multiple]="true">
      <mat-chip *ngFor="let country of values.countries"
                [selected]="form.get('countries').value | contains: country"
                (click)="toggleCountry(country)"
                color="accent">
        {{country}}
      </mat-chip>
    </mat-chip-list>
  </section>

  <section id="tester-criteria-device">
    <div>Device</div>
    <mat-chip-list class="mat-chip-list-stacked" [selectable]="true" [multiple]="true">
      <mat-chip *ngFor="let device of values.devices"
                [selected]="form.get('devices').value | contains: device.id"
                (click)="toggleDevice(device)"
                color="accent">
        {{device.label}}
      </mat-chip>
    </mat-chip-list>
  </section>
</form>
