@import '~@angular/material/theming';
@import 'variables';

@include angular-material-theme($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
